<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .green{
            color: green;
        }
        .red{
            color: red;
        }
    </style>
</head>
<body>
    <p>Your Gold:{{ request.session.coins }}</p>
    <div class="boxes">
        <form action="/process_money" method="POST">
            {% csrf_token %}
            <input type='hidden' name="buildings" value="farm">
            <h3>Farm</h3>
            <p>(earns 10-20 Gold)</p>
            <button>Find Gold!</button>
        </form>
    </div>

    <div class="boxes">
        <form action="/process_money" method="POST">
            {% csrf_token %}
            <input type='hidden' name="buildings" value="cave">
            <h3>Cave</h3>
            <p>(earns 5-10 Gold)</p>
            <button>Find Gold!</button>
        </form>
    </div>

    <div class="boxes">
        <form action="/process_money" method="POST">
            {% csrf_token %}
            <input type='hidden' name="buildings" value="house">
            <h3>House</h3>
            <p>(earns 2-5 Gold)</p>
            <button>Find Gold!</button>
        </form>
    </div>

    <div class="boxes">
        <form action="/process_money" method="POST">
            {% csrf_token %}
            <input type='hidden' name="buildings" value="casino">
            <h3>Casino</h3>
            <p>(earns/takes 0-50 Gold)</p>
            <button>Find Gold!</button>
        </form>
    </div>
    {% for message in request.session.messages %}
        {{ message|safe}}
    {% endfor %}
</body>
</html>